{% extends 'base.html.twig' %}

{% form_theme form.comments _self %}

{% block title %}Latest posts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/helkiperpost/css/main.css') }}">
{% endblock %}

{% block collection_widget %}
    <ul
        id="comment-fields-list"
        data-prototype="{{ form_widget(form.vars.prototype) | e('html_attr') }}"
        data-widget-tags="{{ '<li></li>' | e }}"
    >
        {% for comment in form %}
        <li>{{ form_row(comment.content) }}</li>
        {% endfor %}
    </ul>

    <button class="add-another-comment" data-list="#comment-fields-list">+</button>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.header) }}
    {{ form_row(form.content) }}
    {{ form_row(form.comments) }}
    <input type="submit" value="Submit" />
    {{ form_end(form) }}

    <br />
    <hr />
    {% for post in posts %}
        <div>
            <h3>{{ post.header }}</h3>
            <p>{{ post.content }}</p>
            <a href="{{ path('post_show', {'id': post.id} )}}">More&hellip;</a>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/helkiperpost/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/helkiperpost/js/CollectionType.js') }}"></script>
{% endblock %}